html, body, #__next {
	width: 100%;
	height: 100%;
	margin: 0;
}

.center {
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}

.music-player {
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	position: relative;

	width: 95vh;
	height: 95vh;
	overflow: hidden;
	background: #252c36;
	border-radius: 50%;
	box-shadow: 0 1px 13px rgba(0, 0, 0, 0.55);
	user-select: none;
}

.music-player .album {
	position: absolute;
	top: -20%;
	width: 100%;
	height: auto;
}

.music-player .dash {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 65%;
	background: url("/img/dash.png") center bottom;
	background-size: cover;
}

.music-player .dash .dashInner {
	position: relative;
	width: 100%;
	height: 100%;
}

.music-player .dash a {
	display: block;
	position: absolute;
	top: 50px;
	left: 12px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 1px 5px #000;
	transition: all 0.3s;
	opacity: 1;
}

.music-player .seeker {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	bottom: 0;
}

.music-player .seeker .wheelImg {
	width: 95%;
	height: 95%;

	position: relative;
	clip-path: inset(50% 110% 0 110%);
}

.music-player .seeker .wheelImg .wheelRotate { 
	position: relative;
	height: 100%;
	width: 100%;

	transform-origin: center;
	transition: transform .5s;
}

.music-player .seeker .wheelSeek {
	width: 95%;
	height: 95%;
	position: absolute;
}

.music-player .seeker .wheelImg img { 
	position: absolute;
	height: 100%;
	width: 100%;
}

.music-player a[href="#seek"] {
	z-index: 2;
	display: block;
	position: absolute;

	top: 50%;
	left: -5px;

	width: 15px;
	height: 15px;

	background: #3a304d;
	border: 4px solid #fff;
	border-radius: 100%;
	opacity: 1;
}

.music-player .dash .controls {
	position: absolute;
	top: 10%;
	left: 35%;
	width: 30%;
	height: 30%;

	background: #201f22;
	border-radius: 125%;
}

.music-player .dash .controls .playDiv {
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	position: relative;

	width: 75%;
	height: 75%;

	color: #fff;
	background: #f5696c;
	border-radius: 125%;
	transition: all 0.3s;
}

.music-player .dash .controls a[href="#play"] {
	position: relative;
	top: 50%;
	left: 0;

	font-size: 32px;
}

.music-player .dash .info {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 180px;
	margin: 0 0 0 -90px;
	text-align: center;
	font-family: Segoe UI, sans-serif;
	font-size: 12px;
	color: #fff;
	cursor: default;
}

.music-player .dash .info i {
	display: inline-block;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 13px;
	font-style: normal;
	background: #201f22;
	border-radius: 10px;
}

.music-player .dash .info label {
	display: block;
	margin: 18px 0 5px;
}

.music-player .dash .info small {
	font-size: 10px;
}
